@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  max-width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: thin;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}

body::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
}

@font-face {
  font-family: "koPubWorld";
  src: url("/fonts/KoPubWorld\ Dotum\ Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "koPubWorld-Bold";
  src: url("/fonts/KoPubWorld\ Dotum\ Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.prose {
  font-family: "koPubWorld";
  line-height: 2;
}

.prose h2 {
  font-size: 1.8em;
}

.prose h3 {
  font-size: 1.5em;
}

.prose img {
  margin-top: 0;
}

.prose a {
  @apply decoration-green-400;
}

.prose p {
  white-space: pre-line;
}

code {
  @apply bg-gray-200 dark:bg-gray-600;
  padding: 0.125rem 0.3rem;
  border-radius: 0.25rem;
}

pre code {
  @apply bg-transparent dark:bg-transparent p-0 rounded-none;
}

.prose :where(code):not(:where([class~="not-prose"] *))::before,
.prose :where(code):not(:where([class~="not-prose"] *))::after {
  content: "";
}

.prose blockquote p::before,
.prose blockquote p::after {
  content: "";
}
